In [515]:
# 1 Read the three files into python as dataframes

In [516]:
import pandas as pd

file1 = pd.read_csv('./file1.csv')
file2 = pd.read_csv('./file2.csv')
file3 = pd.read_csv('./file3.csv')

In [517]:
# 2 Show the DataFrame's shape.

In [518]:
file1.shape

(4008, 11)

In [519]:
file2.shape

(996, 11)

In [520]:
file3.shape

(7070, 11)

In [521]:
file1

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [522]:
file2

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

In [523]:
file3

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [524]:
# 3 Standardize header names.

In [525]:
file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [526]:
file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [527]:
file3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [528]:
file1 = file1.rename(columns={'ST':'State'})
file1.columns

Index(['Customer', 'State', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [529]:
file2 = file2.rename(columns={'ST':'State'})
file2.columns

Index(['Customer', 'State', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [530]:
cols = []
for i in range(len(file1.columns)):
    cols.append(file1.columns[i].lower().replace(' ','_'))
file1.columns = cols
file1.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [531]:
cols = []
for i in range(len(file2.columns)):
    cols.append(file2.columns[i].lower().replace(' ','_'))
file2.columns = cols
file2.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [532]:
cols = []
for i in range(len(file3.columns)):
    cols.append(file3.columns[i].lower().replace(' ','_'))
file3.columns = cols
file3

,customer,state,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicle_class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [533]:
# 4 Rearrange the columns in the dataframe as needed

In [534]:
file1.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [535]:
# # Rearranging columns: how to #also dropping some of the columns. I only write the names of the columns that I am interested in.

file2 = file2[['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount']]
file2

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,Personal Auto,Four-Door Car,633.600000
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,Special Auto,SUV,547.200000
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,Personal Auto,Two-Door Car,537.600000
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,Personal Auto,Luxury Car,1027.200000
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,Corporate Auto,Two-Door Car,451.200000
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,Personal Auto,Four-Door Car,185.667213
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,Corporate Auto,Four-Door Car,140.747286
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,Corporate Auto,Two-Door Car,471.050488
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,Personal Auto,Two-Door Car,28.460568
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,Personal Auto,SUV,700.349052

In [536]:
# # Rearranging columns: how to #also dropping some of the columns. I only write the names of the columns that I am interested in.

file3 = file3[['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount']]
file3

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,SA25987,Washington,M,High School or Below,3479.137523,0,104,0,Personal Auto,Two-Door Car,499.200000
1,TB86706,Arizona,M,Master,2502.637401,0,66,0,Personal Auto,Two-Door Car,3.468912
2,ZL73902,Nevada,F,Bachelor,3265.156348,25820,82,0,Personal Auto,Four-Door Car,393.600000
3,KX23516,California,F,High School or Below,4455.843406,0,121,0,Personal Auto,SUV,699.615192
4,FN77294,California,M,High School or Below,7704.958480,30366,101,2,Personal Auto,SUV,484.800000
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.987980,71941,73,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604,79,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0,85,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941,96,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0,77,0,Corporate Auto,Two-Door Car,369.600000

In [537]:
# Correct the values in the column customer lifetime value. They are given as a percent, so divide them by 100 and change dtype to numerical type.

file1['customer_lifetime_value'] = file1['customer_lifetime_value'].str.replace('%','')
file1['customer_lifetime_value'] = pd.to_numeric(file1['customer_lifetime_value'], errors='coerce')
file1['customer_lifetime_value'] = file1['customer_lifetime_value']/100

file2['customer_lifetime_value'] = file2['customer_lifetime_value'].str.replace('%','')
file2['customer_lifetime_value'] = pd.to_numeric(file2['customer_lifetime_value'], errors='coerce')
file2['customer_lifetime_value'] = file2['customer_lifetime_value']/100

In [538]:
# Concatenate the three dataframes

In [539]:
data = pd.concat([file1, file2, file3], axis=0) #axis=0 means columns & axis=1 means rows
data.shape

(12074, 11)

In [540]:
data

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.535900,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.431700,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.861800,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.076500,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.987980,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [541]:
data=data.reset_index(drop=True) #starts the row index from 0
data

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.535900,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.431700,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.861800,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.076500,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,Bachelor,23405.987980,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [542]:
## 5 Which columns are numerical?

    #ANSWER: These columns are numerical: income, monthly premium auto, total claim amount

# 6 Which columns are categorical?

    ##ANSWER: All columns except income, monthly premium auto, total claim amount are strings and therefore categorical.

# 7 Understand the meaning of all columns

data.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [543]:
#Delete the column education and the number of open complaints from the dataframe.

data = data.drop(['education','number_of_open_complaints'], axis=1) #axis=1 means rows

In [544]:
data.head(50)

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,6979.5359,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,12887.4317,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,7645.8618,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,5363.0765,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,8256.2978,62902.0,69.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,5380.8986,55350.0,67.0,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,7216.1003,0.0,101.0,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,24127.5040,14072.0,71.0,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,7388.1781,28812.0,93.0,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,4738.9920,0.0,67.0,Personal Auto,Four-Door Car,482.400000
11,VQ65197,California,NaN,8197.1971,0.0,110.0,Personal Auto,SUV,528.000000
12,DP39365,California,NaN,8798.7970,77026.0,110.0,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,NaN,8819.0189,99845.0,110.0,Corporate Auto,SUV,528.000000
14,IL66569,California,NaN,5384.4317,83689.0,70.0,Corporate Auto,Four-Door Car,307.139132
15,BW63560,Oregon,NaN,7463.1394,24599.0,64.0,Corporate Auto,Four-Door Car,42.920271
16,FV94802,Nevada,NaN,2566.8678,25049.0,67.0,Personal Auto,Two-Door Car,454.245098
17,OE15005,Cali,NaN,3945.2416,28855.0,101.0,Personal Auto,SUV,647.442031
18,WC83389,Oregon,NaN,5710.3331,51148.0,72.0,Personal Auto,Four-Door Car,308.981664
19,FL50705,California,NaN,8162.6171,66140.0,101.0,Corporate Auto,Four-Door Car,484.800000
20,ZK25313,Oregon,NaN,2872.0513,57749.0,74.0,Personal Auto,Two-Door Car,355.200000
21,QK46697,Washington,M,6177.1093,61040.0,79.0,Personal Auto,Two-Door Car,20.382876
22,YH23384,Arizona,NaN,24127.5040,14072.0,71.0,Personal Auto,Four-Door Car,511.200000
23,TZ98966,Nevada,NaN,2450.1910,0.0,73.0,Corporate Auto,Four-Door Car,554.376763
24,HM55802,California,NaN,2392.1079,17870.0,61.0,Corporate Auto,Four-Door Car,439.200000
25,FS42516,Oregon,NaN,5802.0660,97541.0,72.0,Personal Auto,Four-Door Car,389.185006
26,US89481,California,NaN,3946.3721,0.0,111.0,Personal Auto,Four-Door Car,799.200000
27,HS14476,Washington,M,9162.0632,29723.0,80.0,Personal Auto,Four-Door Car,20.985105
28,GE62437,AZ,NaN,12902.5601,86584.0,111.0,Personal Auto,Four-Door Car,532.800000
29,EJ77678,Oregon,NaN,3235.3605,75690.0,80.0,Personal Auto,Four-Door Car,384.000000
30,SV85652,Arizona,NaN,2454.5835,23158.0,63.0,Personal Auto,Four-Door Car,322.294043
31,UL64533,Nevada,NaN,18975.4561,65999.0,237.0,Corporate Auto,Luxury SUV,615.927769
32,PF41800,California,NaN,4715.3213,0.0,65.0,Personal Auto,Four-Door Car,308.150890
33,HD95276,Washington,F,4737.8717,0.0,130.0,Personal Auto,SUV,23.820158
34,SK67821,Oregon,NaN,4932.9163,37260.0,62.0,Corporate Auto,Four-Door Car,15.437681
35,YV55495,Arizona,NaN,5744.2297,68987.0,71.0,Personal Auto,Four-Door Car,204.475147
36,KY38074,California,NaN,13891.7357,42305.0,117.0,Personal Auto,Four-Door Car,561.600000
37,DM79012,Oregon,NaN,7380.9767,65706.0,91.0,Personal Auto,Four-Door Car,436.800000
38,CM61827,Oregon,NaN,3090.0341,0.0,90.0,Personal Auto,Two-Door Car,648.000000
39,WC35801,Arizona,NaN,2521.6331,53243.0,66.0,Personal Auto,Four-Door Car,157.397849
40,QG25316,Nevada,NaN,2652.0618,0.0,70.0,Corporate Auto,Two-Door Car,484.318536
41,MB98372,Oregon,NaN,2771.0450,50071.0,71.0,Corporate Auto,Two-Door Car,18.918935
42,IL19217,California,NaN,3939.0064,60021.0,99.0,Personal Auto,Four-Door Car,882.871945
43,SR38658,Arizona,NaN,12231.8797,43244.0,103.0,Personal Auto,Sports Car,494.400000
44,YD87931,Washington,M,4951.6561,46896.0,35354.0,Personal Auto,Four-Door Car,31.707317
45,HG65722,Oregon,NaN,12819.1029,10105.0,172.0,Personal Auto,SUV,0.517753
46,BU27331,Arizona,NaN,4468.5105,0.0,73.0,Personal Auto,Four-Door Car,579.165954
47,XM45289,Oregon,NaN,5514.3440,23218.0,71.0,Personal Auto,Two-Door Car,447.793440
48,KP34198,California,NaN,3343.8753,0.0,92.0,Corporate Auto,Four-Door Car,529.624084
49,SH90947,Arizona,NaN,2294.4789,0.0,62.0,Personal Auto,Four-Door Car,313.023175

In [545]:
data.tail(50)

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
12024,AL95338,California,F,6679.139606,0.0,91.0,Personal Auto,Four-Door Car,655.200000
12025,WL28610,California,F,4146.409412,0.0,116.0,Corporate Auto,SUV,556.800000
12026,AC73173,California,M,3694.647081,0.0,102.0,Personal Auto,SUV,610.617285
12027,GV76798,California,F,4781.821034,30361.0,119.0,Personal Auto,Four-Door Car,373.289571
12028,SP29219,California,M,3885.456401,0.0,105.0,Personal Auto,Four-Door Car,504.000000
12029,CI30899,California,F,4737.411455,0.0,68.0,Personal Auto,Two-Door Car,326.400000
12030,MI49191,California,M,9410.670129,96060.0,117.0,Corporate Auto,Four-Door Car,561.600000
12031,YP16210,California,F,5878.447428,25398.0,74.0,Personal Auto,Four-Door Car,465.922152
12032,CO91673,California,F,4547.321823,29031.0,61.0,Personal Auto,Four-Door Car,292.800000
12033,CC93587,California,M,5926.385440,92949.0,74.0,Personal Auto,Two-Door Car,337.305815
12034,MX48796,California,F,4873.672682,0.0,68.0,Corporate Auto,Four-Door Car,356.083230
12035,IC80537,California,M,2580.849899,46900.0,66.0,Corporate Auto,Four-Door Car,316.800000
12036,AA93585,California,M,7083.642205,97024.0,177.0,Personal Auto,SUV,686.815162
12037,SR41132,California,F,30104.519690,0.0,94.0,Corporate Auto,Two-Door Car,848.737364
12038,IT11766,California,F,4148.570285,61896.0,104.0,Personal Auto,SUV,461.306722
12039,QO68842,California,F,2518.743544,39317.0,64.0,Personal Auto,Four-Door Car,77.695607
12040,RY47606,California,M,3843.965188,43987.0,96.0,Personal Auto,Four-Door Car,460.800000
12041,CX22458,California,M,9075.768214,37722.0,116.0,Personal Auto,Sports Car,158.077504
12042,TL44525,California,M,2619.337376,78618.0,66.0,Corporate Auto,Two-Door Car,225.578841
12043,CZ57208,California,F,15245.254950,30205.0,195.0,Personal Auto,Luxury SUV,1329.957905
12044,LM97847,California,M,2615.139220,57023.0,67.0,Personal Auto,Four-Door Car,250.652309
12045,IK96366,California,M,5551.398167,36918.0,76.0,Personal Auto,Two-Door Car,364.800000
12046,SJ86522,California,M,6827.044423,0.0,102.0,Corporate Auto,SUV,956.689634
12047,UU42868,California,M,5619.689084,0.0,153.0,Corporate Auto,SUV,1027.000029
12048,GX11087,California,F,3907.028747,0.0,109.0,Personal Auto,SUV,666.042098
12049,JR41742,California,M,3622.872124,0.0,108.0,Corporate Auto,SUV,1254.177129
12050,RA89822,California,F,34611.378960,20090.0,109.0,Personal Auto,Sports Car,523.200000
12051,IJ25462,California,M,2845.520933,86631.0,73.0,Personal Auto,Four-Door Car,400.832857
12052,ZP86347,California,F,5500.577411,44019.0,138.0,Personal Auto,SUV,165.478147
12053,HO82823,California,F,3358.532935,59367.0,84.0,Personal Auto,Four-Door Car,6.880385
12054,EA54906,California,F,7501.661322,38874.0,94.0,Corporate Auto,Four-Door Car,331.170924
12055,BC64697,California,F,11663.985720,0.0,107.0,Personal Auto,Four-Door Car,513.600000
12056,VV68726,California,F,5133.397765,28647.0,69.0,Personal Auto,Four-Door Car,331.200000
12057,QR91631,California,F,8732.090534,51205.0,72.0,Personal Auto,Two-Door Car,185.530076
12058,OT56964,California,M,9424.256842,46897.0,118.0,Corporate Auto,SUV,322.575677
12059,YX35990,California,M,5479.555081,56005.0,68.0,Corporate Auto,Four-Door Car,326.400000
12060,RN61682,California,F,2114.738469,0.0,72.0,Personal Auto,Four-Door Car,518.400000
12061,BB10681,California,F,4140.648654,0.0,123.0,Corporate Auto,SUV,590.400000
12062,FH43628,California,F,25464.820590,13663.0,97.0,Personal Auto,Four-Door Car,465.600000
12063,WZ45103,California,F,5678.050167,0.0,76.0,Personal Auto,Four-Door Car,364.800000
12064,CB59349,California,M,16261.585500,60646.0,134.0,Personal Auto,SUV,643.200000
12065,RX91025,California,M,19872.262000,0.0,185.0,Personal Auto,SUV,1950.725547
12066,AC13887,California,M,4628.995325,0.0,67.0,Corporate Auto,Two-Door Car,482.400000
12067,TF56202,California,M,5032.165498,66367.0,64.0,Personal Auto,Two-Door Car,307.200000
12068,YM19146,California,F,4100.398533,47761.0,104.0,Personal Auto,Four-Door Car,541.282007
12069,LA72316,California,M,23405.987980,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,3096.511217,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,8163.890428,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,7524.442436,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,2611.836866,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

In [546]:
data.dtypes #now 'customer lifetime value' is float64 (numerical)

customer                    object
state                       object
gender                      object
customer_lifetime_value    float64
income                     float64
monthly_premium_auto       float64
policy_type                 object
vehicle_class               object
total_claim_amount         float64
dtype: object

In [547]:
data.shape

(12074, 9)

In [548]:
data.tail(50)

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
12024,AL95338,California,F,6679.139606,0.0,91.0,Personal Auto,Four-Door Car,655.200000
12025,WL28610,California,F,4146.409412,0.0,116.0,Corporate Auto,SUV,556.800000
12026,AC73173,California,M,3694.647081,0.0,102.0,Personal Auto,SUV,610.617285
12027,GV76798,California,F,4781.821034,30361.0,119.0,Personal Auto,Four-Door Car,373.289571
12028,SP29219,California,M,3885.456401,0.0,105.0,Personal Auto,Four-Door Car,504.000000
12029,CI30899,California,F,4737.411455,0.0,68.0,Personal Auto,Two-Door Car,326.400000
12030,MI49191,California,M,9410.670129,96060.0,117.0,Corporate Auto,Four-Door Car,561.600000
12031,YP16210,California,F,5878.447428,25398.0,74.0,Personal Auto,Four-Door Car,465.922152
12032,CO91673,California,F,4547.321823,29031.0,61.0,Personal Auto,Four-Door Car,292.800000
12033,CC93587,California,M,5926.385440,92949.0,74.0,Personal Auto,Two-Door Car,337.305815
12034,MX48796,California,F,4873.672682,0.0,68.0,Corporate Auto,Four-Door Car,356.083230
12035,IC80537,California,M,2580.849899,46900.0,66.0,Corporate Auto,Four-Door Car,316.800000
12036,AA93585,California,M,7083.642205,97024.0,177.0,Personal Auto,SUV,686.815162
12037,SR41132,California,F,30104.519690,0.0,94.0,Corporate Auto,Two-Door Car,848.737364
12038,IT11766,California,F,4148.570285,61896.0,104.0,Personal Auto,SUV,461.306722
12039,QO68842,California,F,2518.743544,39317.0,64.0,Personal Auto,Four-Door Car,77.695607
12040,RY47606,California,M,3843.965188,43987.0,96.0,Personal Auto,Four-Door Car,460.800000
12041,CX22458,California,M,9075.768214,37722.0,116.0,Personal Auto,Sports Car,158.077504
12042,TL44525,California,M,2619.337376,78618.0,66.0,Corporate Auto,Two-Door Car,225.578841
12043,CZ57208,California,F,15245.254950,30205.0,195.0,Personal Auto,Luxury SUV,1329.957905
12044,LM97847,California,M,2615.139220,57023.0,67.0,Personal Auto,Four-Door Car,250.652309
12045,IK96366,California,M,5551.398167,36918.0,76.0,Personal Auto,Two-Door Car,364.800000
12046,SJ86522,California,M,6827.044423,0.0,102.0,Corporate Auto,SUV,956.689634
12047,UU42868,California,M,5619.689084,0.0,153.0,Corporate Auto,SUV,1027.000029
12048,GX11087,California,F,3907.028747,0.0,109.0,Personal Auto,SUV,666.042098
12049,JR41742,California,M,3622.872124,0.0,108.0,Corporate Auto,SUV,1254.177129
12050,RA89822,California,F,34611.378960,20090.0,109.0,Personal Auto,Sports Car,523.200000
12051,IJ25462,California,M,2845.520933,86631.0,73.0,Personal Auto,Four-Door Car,400.832857
12052,ZP86347,California,F,5500.577411,44019.0,138.0,Personal Auto,SUV,165.478147
12053,HO82823,California,F,3358.532935,59367.0,84.0,Personal Auto,Four-Door Car,6.880385
12054,EA54906,California,F,7501.661322,38874.0,94.0,Corporate Auto,Four-Door Car,331.170924
12055,BC64697,California,F,11663.985720,0.0,107.0,Personal Auto,Four-Door Car,513.600000
12056,VV68726,California,F,5133.397765,28647.0,69.0,Personal Auto,Four-Door Car,331.200000
12057,QR91631,California,F,8732.090534,51205.0,72.0,Personal Auto,Two-Door Car,185.530076
12058,OT56964,California,M,9424.256842,46897.0,118.0,Corporate Auto,SUV,322.575677
12059,YX35990,California,M,5479.555081,56005.0,68.0,Corporate Auto,Four-Door Car,326.400000
12060,RN61682,California,F,2114.738469,0.0,72.0,Personal Auto,Four-Door Car,518.400000
12061,BB10681,California,F,4140.648654,0.0,123.0,Corporate Auto,SUV,590.400000
12062,FH43628,California,F,25464.820590,13663.0,97.0,Personal Auto,Four-Door Car,465.600000
12063,WZ45103,California,F,5678.050167,0.0,76.0,Personal Auto,Four-Door Car,364.800000
12064,CB59349,California,M,16261.585500,60646.0,134.0,Personal Auto,SUV,643.200000
12065,RX91025,California,M,19872.262000,0.0,185.0,Personal Auto,SUV,1950.725547
12066,AC13887,California,M,4628.995325,0.0,67.0,Corporate Auto,Two-Door Car,482.400000
12067,TF56202,California,M,5032.165498,66367.0,64.0,Personal Auto,Two-Door Car,307.200000
12068,YM19146,California,F,4100.398533,47761.0,104.0,Personal Auto,Four-Door Car,541.282007
12069,LA72316,California,M,23405.987980,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,3096.511217,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,8163.890428,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,7524.442436,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,2611.836866,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

In [549]:
# 4 Remove duplicates from the DataFrame if any.
data = data.drop_duplicates()

In [550]:
data.shape

(9135, 9)

In [551]:
# Filter out the data for customers who have an income of 0 or less.

data[(data['income']>0)] #the following is going to be free of income<=0

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
2,AI49188,Nevada,F,12887.431700,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,5363.076500,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,8256.297800,62902.0,69.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,5380.898600,55350.0,67.0,Corporate Auto,Four-Door Car,321.600000
8,DY87989,Oregon,M,24127.504000,14072.0,71.0,Corporate Auto,Four-Door Car,511.200000
...,...,...,...,...,...,...,...,...,...
12067,TF56202,California,M,5032.165498,66367.0,64.0,Personal Auto,Two-Door Car,307.200000
12068,YM19146,California,F,4100.398533,47761.0,104.0,Personal Auto,Four-Door Car,541.282007
12069,LA72316,California,M,23405.987980,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,3096.511217,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
12072,UP19263,California,M,7524.442436,21941.0,96.0,Personal Auto,Four-Door Car,691.200000

In [552]:
#Extra (for me to practice)

data.isna().sum() #shows the number of NaNs
#isna() function is used to detect missing values.
#It return a boolean same-sized object indicating if the values are NA
#dataframe.isna()

customer                     1
state                        1
gender                     123
customer_lifetime_value      8
income                       1
monthly_premium_auto         1
policy_type                  1
vehicle_class                1
total_claim_amount           1
dtype: int64

In [553]:
round(data.isna().sum()/len(data),4)*100  # shows the percentage of null values in a column

customer                   0.01
state                      0.01
gender                     1.35
customer_lifetime_value    0.09
income                     0.01
monthly_premium_auto       0.01
policy_type                0.01
vehicle_class              0.01
total_claim_amount         0.01
dtype: float64